$primary: #1c469f;
$primary-overlay: rgba(28, 70, 159, 0.8);
$secondary: #368aca;

body {
  margin-top: 150px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: white;
  .nav-item {
    font-size: 1.4rem;
    padding-right: 0.3rem;
  }
}

.input-group {
  font-size: 1.1rem;
}

.records {
  height: 475px;
  overflow-y: scroll;
}
