$primary: #1c469f;
$primary-overlay: rgba(28, 70, 159, 0.8);
$secondary: #368aca;

body {
  margin-top: 150px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: white;
  .nav-item {
    font-size: 1.4rem;
    padding-right: 0.3rem;
  }
}

.input-group {
  font-size: 1.1rem;
}

.records {
height:475px;
}




.header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    word-wrap: none;
    display: block;
    word-break: keep-all
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
    word-break: keep-all;
    word-wrap: none;

    
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 200px;
    word-wrap: none;

}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 12%;
    float: left;
    word-wrap: none;

    word-break: keep-all
}