body {
  margin-top: 175px; }

.navbar {
  box-shadow: 2px 2px 5px #1c469f;
  opacity: 0.9;
  background: white; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 0.3rem; }

.input-group {
  font-size: 1.1rem; }

.records {
  height: 475px;
  overflow-y: scroll; }
